


.who-all-grid:hover .who-all-img {
  filter: grayscale(100%) brightness(0.7);
  transition: filter 150ms ease, transform 150ms ease, opacity 150ms ease;
  opacity: 0.6;
  z-index: -30;
}


.who-all-grid .who-all-img:hover {
  filter: none;
  opacity: 1;
  transform: scale(1.5); 
  z-index: 50;           
}